body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Utilisation de min-height pour garantir une hauteur minimale de 100% de la vue */
    font-size: 18px;
}

.container-fluid {
    padding: 20px; /* Ajout de padding à la classe container-fluid pour éviter que le contenu ne touche les bords */
    box-sizing: border-box; /* Utilisation de box-sizing pour inclure le padding dans la largeur totale */
}

h1 {
    color: #e44d26;
    text-align: center;
}

label {
    margin-bottom: 8px;
    display: block;
    color: #555;
}

input, select, button {
    width: 100%;
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #e44d26;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c73d22;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
    color: #333;
    overflow: hidden; /* Ajout d'overflow: hidden pour éviter que les éléments débordent de la boîte */
}

#balance {
    font-size: 32px;
    transition: color 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Ajout de styles pour les classes Bootstrap */
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.text-warning {
    color: #ffc107;
}

.text-danger {
    color: #dc3545;
}

/* Ajout d'un style pour le fond des boutons Bootstrap */
.btn-success:hover {
    background-color: #218838;
}
